*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #262a2f;

}
.container{
    display: flex;
    flex-direction: column;
    gap: 2vw;  
    width: 22.83vw;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;   

}
.container p{
    font-size: 1.5vw;
}
.container input{
    padding: 1vw 3vw;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1vw;
    
}
.container button{
    padding: 1vw 3vw;
    background: rgba(0, 0, 255, 0.708);
    color: #fff;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bolder;
}
#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translatex(0);
    }
    25%{
        transform: translatex(-2px);
    }
    50%{
        transform: translatex(0);
    }
    75%{
        transform: translatex(-2px);
    }
    100%{
        transform: translatex(0);
    }
}